In [1]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
path = './'

column_file = path + 'data/NUSW-NB15_features.csv'
column = pd.read_csv(column_file,encoding='unicode_escape',sep=',',low_memory=False)
column_names = list(column['Name'])
len(column_names)

49

In [3]:
print(list(column_names))

['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes', 'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload', 'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz', 'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime', 'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat', 'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login', 'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat', 'Label']

In [4]:
dataset1 = path + 'data/UNSW-NB15_1.csv'
dataset2 = path + 'data/UNSW-NB15_2.csv'
dataset3 = path + 'data/UNSW-NB15_3.csv'
dataset4 = path + 'data/UNSW-NB15_4.csv'

df1 =  pd.read_csv(dataset1, names=column_names)
df2 =  pd.read_csv(dataset2, names=column_names)
df3 =  pd.read_csv(dataset3, names=column_names)
df4 =  pd.read_csv(dataset4, names=column_names)

df = pd.concat([df1, df2, df3, df4], ignore_index=True)
print("shape", df.shape)
df.head()

shape (2540047, 49)

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

In [5]:
# drop columns with any NaN values
df.dropna(axis=1, inplace=True)
df.shape

(2540047, 46)

In [ ]:
# # drop rows with any NaN values
# df.dropna(axis=0, inplace=True)
# df.shape

In [6]:
df.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_state_ttl,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,0,3,7,1,3,1,1,1,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,0,2,4,2,3,1,1,2,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,0,12,8,1,2,2,1,1,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,0,6,9,1,1,1,1,1,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,0,7,9,1,1,1,1,1,0

In [7]:
mask = (df.dtypes != np.object_)
df.loc[:,mask].head()

,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,Sload,Dload,Spkts,...,is_sm_ips_ports,ct_state_ttl,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,Label
0,0.001055,132,164,31,29,0,0,500473.93750,621800.93750,2,...,0,0,3,7,1,3,1,1,1,0
1,0.036133,528,304,31,29,0,0,87676.08594,50480.17188,4,...,0,0,2,4,2,3,1,1,2,0
2,0.001119,146,178,31,29,0,0,521894.53130,636282.37500,2,...,0,0,12,8,1,2,2,1,1,0
3,0.001209,132,164,31,29,0,0,436724.56250,542597.18750,2,...,0,0,6,9,1,1,1,1,1,0
4,0.001169,146,178,31,29,0,0,499572.25000,609067.56250,2,...,0,0,7,9,1,1,1,1,1,0

In [8]:
df.drop(['srcip','sport', 'dstip', 'dsport', 'ct_ftp_cmd'], axis=1, inplace=True)

# Perform one-hot encoding on categorical columns and join back to main train_data
one_hot = pd.get_dummies(df[["proto", "state", "service"]])
new_df = df.join(one_hot)

# Remove the original categorical columns
new_df.drop(["proto", "state", "service"], inplace=True, axis=1)
new_df.shape

(2540047, 202)

In [9]:
y_set = new_df.Label
x_set = new_df

In [12]:
x_set.drop(["Label"], inplace=True, axis=1)

In [13]:
x_set.shape, y_set.shape

((2540047, 201), (2540047,))

In [14]:
y_set.value_counts()

Label
0    2218764
1     321283
Name: count, dtype: int64

In [15]:
colNames=list(x_set)
len(colNames)

201

In [19]:
from sklearn.preprocessing import  MinMaxScaler

# Use min-max scaler to scale the features to 0-1 range
scaler = MinMaxScaler()
x_set1 = scaler.fit_transform(x_set)

In [20]:
x_set_df = pd.DataFrame(x_set1, columns=colNames)

In [24]:
y_set=pd.DataFrame(y_set)
type(y_set)

pandas.core.frame.DataFrame

In [25]:
# final_df = x_set_df.merge(y_set,on='attack_cat')
x_set_df.reset_index(drop=True, inplace=True)
y_set.reset_index(drop=True, inplace=True)
final_df=pd.concat([x_set_df, y_set], axis=1)

# x_set_df['attack_cat']=y_set
print(final_df.shape)
final_df.head()

(2540047, 202)

,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,Sload,Dload,Spkts,...,service_ftp-data,service_http,service_irc,service_pop3,service_radius,service_smtp,service_snmp,service_ssh,service_ssl,Label
0,1.200687e-07,0.000009,0.000011,0.121569,0.114173,0.0,0.0,0.000084,0.004829,0.000188,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,4.112267e-06,0.000037,0.000021,0.121569,0.114173,0.0,0.0,0.000015,0.000392,0.000376,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1.273525e-07,0.000010,0.000012,0.121569,0.114173,0.0,0.0,0.000087,0.004942,0.000188,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,1.375953e-07,0.000009,0.000011,0.121569,0.114173,0.0,0.0,0.000073,0.004214,0.000188,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,1.330429e-07,0.000010,0.000012,0.121569,0.114173,0.0,0.0,0.000083,0.004730,0.000188,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [26]:
# drop rows with any NaN values
final_df.dropna(axis=0, inplace=True)
final_df.shape

(2540047, 202)

In [ ]:
def del_repeatetive(final_df):
    return final_df.loc[(final_df!=final_df.shift()).any(axis=1)]

final_df1 = del_repeatetive(final_df.copy())
final_df1.shape

In [ ]:
final_df1.head()

In [ ]:
final_df1.to_csv(path+'Normalized_UNCW_NB15_categorical.csv', index=False)